<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="scheduleBasic()">
    Send notification
  </ion-button>

  <ion-button expand="block" (click)="scheduleAdvanced()">
    Schedule future notification
  </ion-button>

  <ion-button expand=block color=secondary (click)="getLocation()">
    Get location
  </ion-button>
  <!-- <ion-button expand="block" (click)="scheduleRepeat()">Repeat notification</ion-button> -->

  <p>Location: {{ location?.coords?.latitude }} {{ location?.coords?.longitude }}</p>

</ion-content>
